/** Teclado de Piano Programado: RED */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #6f6e6e;
    /* Evitar toques desnecessários no Touch: por exemplo dois dedos=tela preta*/
    touch-action: none;
}
.keyboard-container {
    padding: 30px 30px 26px;
    background-color: darkred;
    border-radius: 10px;
    position: relative;
    border: 3px solid rgb(98, 1, 1);
    border-radius: 0 0 10px 10px;
    box-sizing: border-box;
}
.container-botoes {
    display: flex;
    gap: 16px;
}
.botao-com-texto {
    display: flex;
    align-items: center;
    gap: 8px;
}
.botao-com-texto span {
    font-size: 16px;
    padding-left: 30px;
    color: #888;
}
.toggle-button-teclas,
.toggle-button-notas {
    position: absolute;
    right: 10%;
    width: 24px;
    height: 24px;
    background: #888;
    border-radius: 50%;
    cursor: pointer;
    transition: filter 0.2s;
}
.toggle-button-teclas {
    top: 15%;
}
.toggle-button-notas {
    top: 25%;
}
.toggle-button-teclas::after,
.toggle-button-notas::after {
    content: "";
    width: 16px;
    height: 16px;
    background-color: #000;
    position: absolute;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.toggle-button-teclas:hover, .toggle-button-notas:hover {
    filter: brightness(0.8);
}
/** Classe que Esconde as Letras: */
.hide-text-teclas, .hide-text-notas {
    opacity: 0;
}
.keys {
    position: relative;
    cursor: pointer;
    border-top: 5px solid #000;
}
/** Caixa de Teclas: */
.white-keys {
    display: flex;
    background-color: darkred;
}
/** Teclas Brancas: */
.white-key {
    width: 68px;
    height: 280px;
    background: #fff;
    border: 2px solid #000;
    border-radius: 0 0 5px 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.white-key:hover,
.white-key.clicked {
    background: linear-gradient(to right, #b1b0b0, #8e8d8d, #6f6e6e, #8e8d8d, #b1b0b0);
    transform: scale(1.01);
}
/** Teclas Pretas: */
.black-key {
    position:absolute;
    top: 0;
    width: 38px;
    height: 160px;
    background: #000;
    border: 2px solid #000;
    border-radius: 0 0 5px 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.black-key:hover,
.black-key.clicked {
    background: linear-gradient(to right, #6f6e6e, #6f6e6e, #3f3e3e, #6f6e6e, #6f6e6e );
    transform: scale(1.01);
}
.black-key:nth-child(1){
    left: 49px;
}
.black-key:nth-child(2){
    left: 117px;
}
.black-key:nth-child(3){
    left: 253px;
    /* 117px +(2 *68px) */
}
.black-key:nth-child(4){
    left: 321px;
}
.black-key:nth-child(5){
    left: 389px;
}
.black-key:nth-child(6){
    left: 525px;
}
.black-key:nth-child(7){
    left: 593px;
}
.black-key:nth-child(8){
    left: 729px;
}
.black-key:nth-child(9){
    left: 797px;
}
.black-key:nth-child(10){
    left: 865px;
}
/** ETIQUETAS nas Teclas: */
.white-key .tecla {
    color: #6f6e6e;
    background-color: transparent;
    font-size: 20px;
    margin-top: 5px;
}
.white-key .tecla:hover {
    color: #fff;
}
.white-key .nota {
    color: #000;
    background-color: transparent;
    font-size: 16px;
    margin-bottom: 5px;
}
.black-key .tecla {
    color: #6f6e6e;
    background-color: transparent;
    font-size: 20px;
    padding-bottom: 8px;
    margin-top: 5px;
}
.black-key .tecla:hover {
    color: #fff;
}
.black-key .nota {
    color: #fff;
    background-color: transparent;
    font-size: 14px;
    margin-bottom: 5px;
}
/** Quadro de Botões: */
.compact-control-panel {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 140px;
    width: 800px;
    background-color: #333;
    margin-bottom: 10px;
    padding: 5px 10px;
    border-radius: 0 0 6px 6px;
    border: 2px solid #2a2a2a;
    box-shadow: 0 0 5px 2px;
}
/** Botões de som TRILHO PRETO*/
.speaker {
    width: 22px;
    height: 100px;
    background-color: black;
    border-radius: 3px;
    position: absolute;
    top: 15%;
}
.left-speaker {
    left: 5%;
}
.right-speaker {
    left: 16%;
}
.button-square {
    width: 40px;
    height: 40px;
    background-color: #666;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: white;
    cursor: pointer; 
    border: 1px solid #2a2a2a;
    box-shadow: 0 0 4px 1px;
    position: absolute;
}
.button-square.left {
    left: 4%;
    top: 45%;
}
.button-square.right {
    left: 15%;
    top: 32%;
}
/** Botões de controle */
.control-buttons {
    display: flex;
    /* gap: 30px; */
}
.button-round {
    width: 60px;
    height: 60px;
    background-color: #888;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid #2a2a2a;
    box-shadow: 0 0 5px 2px;
    position: relative;
}
.button-round.left {
    left: 30%;
}
.button-round.right {
    right: 5%;
}
.button-round::after {
    content: "";
    width: 7px;
    height: 7px;
    background-color: #333;
    border-radius: 50%;
    border: 1px solid #2a2a2a;
    box-shadow: 0 0 1px 1px;
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/** Tela de Som Vasada: */
.speaker-vasada {
    width: 300px;
    height: 100px;
    background-color: #3f3e3e;
    border-radius: 20px;
    border: 2px solid #2a2a2a;
    box-shadow: 0 0 5px 2px;
    position: relative;
    overflow: hidden;
}
.speaker-vasada::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(circle, #2a2a2a 1px, transparent 3px);
    background-size: 10px 10px;
    top: 0;
    left: 0;
    opacity: 0.6;
    z-index: 1;
}

/* *********************************************************** */
/** EXECUÇÃO EM LANDSCAPE - MODO PAISAGEM: */
/* *********************************************************** */
@media (max-width: 1021px) {
    .keyboard-container {
        padding: 20px 20px 16px;
    }
    .container-botoes {
        gap: 10px;
    }
    .botao-com-texto {
        gap: 6px;
    }
    .botao-com-texto span {
        font-size: 14px;
        padding-left: 25px;
    }
    .toggle-button-teclas,
    .toggle-button-notas {
    right: 8%;
    width: 22px;
    height: 22px;
    }
    .toggle-button-teclas::after,
    .toggle-button-notas::after {
        width: 14px;
        height: 14px;
    }
    .keys {
        border-top: 3px solid #000;
    }
    .white-key {
        width: 58px;
        height: 240px;
    }
    .black-key {
        width: 28px;
        height: 120px;
    }
    /* Primeiro Bloco: */   
    .black-key:nth-child(1){
        left: 46px;
    }
    .black-key:nth-child(2){
        left: 104px;
    }
    .black-key:nth-child(3){
        left: 218px;
        /* 117px +(2 *68px) */
    }
    .black-key:nth-child(4){
        left: 275px;
    }
    .black-key:nth-child(5){
        left: 332px;
    }
    /* Segundo Bloco: */
    .black-key:nth-child(6){
        left: 450px;
    }
    .black-key:nth-child(7){
        left: 508px;
    }
    .black-key:nth-child(8){
        left: 625px;
    }
    .black-key:nth-child(9){
        left: 682px;
    }
    .black-key:nth-child(10){
        left: 740px;
    }
    .white-key .tecla, .white-key .nota, .black-key .tecla, .black-key .nota {
        font-size: 12px;
        margin-top: 3px;
    }
    .compact-control-panel {
        height: 120px;
        width: 650px;
    }
    /* Caixas de som TRILHO PRETO*/
    .speaker {
        width: 18px;
        height: 70px;
    }
    .button-square {
        width: 30px;
        height: 30px;
        font-size: 12px;
    }
    .button-square.left {
        left: 4%;
        top: 45%;
    }
    .button-square.right {
        left: 15%;
        top: 32%;
    }
    .button-round {
        width: 40px;
        height: 40px;
    }
    /* Tela de Som Vasada: */
    .speaker-vasada {
        width: 200px;
        height: 70px;
    }
}
/* *********************************************************** */
@media (max-width: 866px) {
    .keyboard-container {
        padding: 10px 10px 8px;
    }
    .container-botoes {
        gap: 8px;
    }
    .botao-com-texto {
        gap: 4px;
    }
    .botao-com-texto span {
        font-size: 12px;
        padding-left: 20px;
    }
    .toggle-button-teclas,
    .toggle-button-notas {
    width: 20px;
    height: 20px;
    }
    .toggle-button-teclas::after,
    .toggle-button-notas::after {
        width: 12px;
        height: 12px;
    }
    .white-key {
        width: 48px;
        height: 220px;
    }
    .black-key {
        width: 24px;
    }
    /* Primeiro Bloco: */   
    .black-key:nth-child(1){
        left: 36px;
    }
    .black-key:nth-child(2){
        left: 86px;
    }
    .black-key:nth-child(3){
        left: 180px;
    }
    .black-key:nth-child(4){
        left: 228px;
    }
    .black-key:nth-child(5){
        left: 276px;
    }
    /* Segundo Bloco: */
    .black-key:nth-child(6){
        left: 372px;
    }
    .black-key:nth-child(7){
        left: 420px;
    }
    .black-key:nth-child(8){
        left: 516px;
    }
    .black-key:nth-child(9){
        left: 565px;
    }
    .black-key:nth-child(10){
        left: 612px;
    }
    .black-key .nota {
        font-size: 9px;
        margin-bottom: 3px;
    }
    .compact-control-panel {
        height: 100px;
        width: 540px;
    }
    /* Caixas de som TRILHO PRETO*/
    .button-square {
        width: 25px;
        height: 25px;
        font-size: 10px;
    }
    .button-round {
        width: 35px;
        height: 35px;
    }
    /* Tela de Som Vasada: */
    .speaker-vasada {
        width: 190px;
        height: 65px;
    }
}

/* *********************************************************** */
/* TESTE: 480px  => TELA MÍNIMA EM PAISAGEM 698px DE Largura:*/
/* 698px */
@media (max-width: 698px) {
    .black-key {
        background-color: greenyellow;
    }
}




/* *********************************************************** */

/*! REVER UMA SOLUÇÃO PARA OPERAR EM LANDSCAPE (TELA HORIZONTAL) */
/* @media (orientation: landscape) and (max-width: 768px) */
/*  @media (max-height: 480px) and (orientation: landscape) */


/* 
@media (max-width: 768px) and (max-height: 500px) {
    body {
        padding: 5px;
    }
    .keyboard-container {
        width: 100%;
        height: auto;
        max-width: 100%;
        padding: 10px;
    }
    .black-key {
        background-color: coral;
    }
} */
/* *********************************************************** */
