/*? Teclado de Piano Programado: RED */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #6f6e6e;
    /* Evitar toques desnecessários no Touch: por exemplo dois dedos=tela preta*/
    touch-action: none;
}
/** Mensagem de aviso: */
.warning {
    display: none; /* Oculto */
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    padding: 25px;
    width: 100%;
    height: 100%;
    background-color: #000;
    color: #b1b0b0;
    text-align: center;
    font-size: 2rem;
    z-index: 9999;
}
.keyboard-container {
    padding: 30px 30px 26px;
    background-color: darkred;
    border-radius: 10px;
    position: relative;
    border: 3px solid rgb(98, 1, 1);
    border-radius: 0 0 10px 10px;
    box-sizing: border-box;
}
.container-botoes {
    display: flex;
    gap: 16px;
}
.botao-com-texto {
    display: flex;
    align-items: center;
    gap: 8px;
}
.botao-com-texto span {
    font-size: 16px;
    padding-left: 35px;
    color: #888;
}
.toggle-button-teclas,
.toggle-button-notas,
.toggle-button-cifras {
    position: absolute;
    right: 10%;
    width: 24px;
    height: 24px;
    background: #888;
    border-radius: 50%;
    cursor: pointer;
    transition: filter 0.2s;
}
.toggle-button-teclas {
    top: 8%;
}
.toggle-button-notas {
    top: 16%;
}
.toggle-button-cifras {
    top: 24%;
}
.toggle-button-teclas::after,
.toggle-button-notas::after,
.toggle-button-cifras::after {
    content: "";
    width: 16px;
    height: 16px;
    background-color: #000;
    position: absolute;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.toggle-button-teclas:hover, .toggle-button-notas:hover, .toggle-button-cifras:hover {
    filter: brightness(0.8);
}
/*? Classe que Esconde as Letras: */
.hide-text-teclas, .hide-text-notas, .hide-text-cifras {
    opacity: 0;
}
.keys {
    position: relative;
    cursor: pointer;
    border-top: 5px solid #000;
    justify-content: space-between;
}
/*? Caixa de Teclas: */
.white-keys {
    display: flex;
    /* background-color: darkred; */
    background-color: rgb(80, 2, 2);
}
/*? Teclas Brancas: */
.white-key {
    width: 68px;
    height: 280px;
    background: #fff;
    border: 2px solid #000;
    border-radius: 0 0 5px 5px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    justify-content: flex-start;
    align-items: center;
    position: relative;
}
.white-key:hover,
.white-key.clicked {
    background: linear-gradient(to right, #b1b0b0, #8e8d8d, #6f6e6e, #8e8d8d, #b1b0b0);
    transform: scale(1.01);
    transition: 0.5s;
}
/*? Teclas Pretas: */
.black-key {
    position:absolute;
    top: 0;
    width: 38px;
    height: 160px;
    background: #000;
    border: 2px solid #000;
    border-radius: 0 0 5px 5px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    justify-content: flex-start;
    align-items: center;
}
.black-key:hover,
.black-key.clicked {
    background: linear-gradient(to right, #6f6e6e, #6f6e6e, #3f3e3e, #6f6e6e, #6f6e6e );
    transform: scale(1.01);
    transition: 0.5s;
}
/*? Primeiro Bloco: */   
.black-key:nth-child(1){
    left: 5%;
}
.black-key:nth-child(2){
    left: 12%;
}
.black-key:nth-child(3){
    left: 26.5%;
}
.black-key:nth-child(4){
    left: 33.5%;
}
.black-key:nth-child(5){
    left: 41%;
}
/*? Segundo Bloco: */
.black-key:nth-child(6){
    left: 55%;
}
.black-key:nth-child(7){
    left: 62.2%;
}
.black-key:nth-child(8){
    left: 76.5%;
}
.black-key:nth-child(9){
    left: 83.5%;
}
.black-key:nth-child(10){
    left: 90.8%;
}
/*? Etiquetas nas Teclas: */
/* .tecla = para cada tecla do computador */
.white-key .tecla {
    position: absolute;
    top: 5px;
    color: #6f6e6e;
    background-color: transparent;
    font-size: 20px;
    /* margin-top: 5px; */
}
.white-key .tecla:hover {
    color: #fff;
    transition: 0.5s;
}
.white-key .nota, .white-key .cifra {
    background-color: transparent;
    font-size: 16px;
}
.white-key .nota {
    position: absolute;
    bottom: 15px;
    /* color: #504d4d; */
    color: gray;
}
.white-key .nota:hover {
    color: #fff;
    transition: 0.5s;
}
.white-key .cifra {
    position: absolute;
    bottom: 2px;
    color: #000;
    font-weight: 600;
}
.black-key .tecla {
    position: absolute;
    top: 5px;
    color: #6f6e6e;
    background-color: transparent;
    font-size: 20px;
}
.black-key .tecla:hover {
    color: #fff;
    transition: 0.5s;
}
.black-key .nota, .black-key .cifra {
    color: #fff;
    background-color: transparent;
    font-size: 14px;
}
.black-key .nota {
    position: absolute;
    bottom: 15px;
    color: gray;
}
.black-key .nota:hover {
    color: #fff;
    transition: 0.5s;
}
.black-key .cifra {
    position: absolute;
    bottom: 2px;
}
/*? Quadro de Botões: */
.compact-control-panel {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 140px;
    width: 800px;
    background-color: #333;
    margin-bottom: 10px;
    padding: 5px 10px;
    border-radius: 0 0 6px 6px;
    border: 2px solid #2a2a2a;
    box-shadow: 0 0 5px 2px;
}
/*? Botões de som TRILHO PRETO*/
.speaker {
    width: 22px;
    height: 100px;
    background-color: black;
    border-radius: 3px;
    position: absolute;
    top: 15%;
}
.left-speaker {
    left: 5%;
}
.right-speaker {
    left: 16%;
}
.button-square {
    width: 40px;
    height: 40px;
    background-color: #666;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: black;
    cursor: pointer; 
    border: 1px solid #474747;
    box-shadow: 0 0 4px 1px;
    position: absolute;
}
.button-square.left {
    left: 4%;
    top: 45%;
}
.button-square.right {
    left: 15%;
    top: 32%;
}
/** Botões de controle */
.control-buttons {
    display: flex;
}
.button-round {
    width: 60px;
    height: 60px;
    background-color: #888;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid #2a2a2a;
    box-shadow: 0 0 5px 2px;
    position: relative;
}
.button-round.left {
    left: 30%;
}
.button-round.right {
    right: 5%;
}
.button-round::after {
    content: "";
    width: 7px;
    height: 7px;
    background-color: #333;
    border-radius: 50%;
    border: 1px solid #2a2a2a;
    box-shadow: 0 0 1px 1px;
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/** Tela de Som Vasada: */
.speaker-vasada {
    width: 300px;
    height: 100px;
    background-color: #3f3e3e;
    border-radius: 20px;
    border: 2px solid #2a2a2a;
    box-shadow: 0 0 5px 2px;
    position: relative;
    overflow: hidden;
}
.speaker-vasada::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(circle, #2a2a2a 1px, transparent 3px);
    background-size: 10px 10px;
    top: 0;
    left: 0;
    opacity: 0.6;
    z-index: 1;
}
/* *********************************************************** */
/** RESPONSIVIDADE DE TELAS e TECLAS: */
/* *********************************************************** */
@media (max-width: 1021px) {
    .keyboard-container {
        padding: 20px 20px 16px;
    }
    .container-botoes {
        gap: 10px;
    }
    .botao-com-texto {
        gap: 6px;
    }
    .botao-com-texto span {
        font-size: 14px;
        padding-left: 25px;
    }
    .toggle-button-teclas,
    .toggle-button-notas,
    .toggle-button-cifras {
    right: 8%;
    width: 22px;
    height: 22px;
    }
    .toggle-button-teclas::after,
    .toggle-button-notas::after,
    .toggle-button-cifras::after {
        width: 14px;
        height: 14px;
    }
    .keys {
        border-top: 3px solid #000;
    }
    .white-key {
        width: 58px;
        height: 240px;
    }
    .black-key {
        height: 120px;
/*         background-color: coral; */
    }
    .white-key .tecla, .white-key .nota, .white-key .cifra, .black-key .tecla, .black-key .nota, .black-key .cifra {
        font-size: 12px;
        margin-top: 3px;
    }
    .compact-control-panel {
        height: 120px;
        width: 650px;
    }
    /*? Caixas de som TRILHO PRETO: */
    .speaker {
        width: 18px;
        height: 70px;
    }
    .button-square {
        width: 30px;
        height: 30px;
        font-size: 12px;
    }
    .button-round {
        width: 40px;
        height: 40px;
    }
    /*? Tela de Som Vasada: */
    .speaker-vasada {
        width: 200px;
        height: 70px;
    }
}
/* *********************************************************** */
/* ? INTERVALO DE LARGURA: 866px a 839px */
@media (max-width: 866px) {
    .keyboard-container {
        position: fixed;
        /* ou position: absolute; */
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        padding: 10px 10px 8px;
        /* max-width: 866px; */
        max-height: 334px;
        overflow: hidden;
        /* ou overflow-y: auto; */
        display: flex;
        justify-content: center;
    }
    .container-botoes {
        gap: 8px;
    }
    .botao-com-texto {
        gap: 4px;
    }
    .botao-com-texto span {
        font-size: 12px;
        padding-left: 20px;
    }
    .toggle-button-teclas,
    .toggle-button-notas,
    .toggle-button-cifras {
    width: 20px;
    height: 20px;
    }
    .toggle-button-teclas::after,
    .toggle-button-notas::after,
    .toggle-button-cifras::after {
        width: 12px;
        height: 12px;
    }
    .white-key {
        height: 200px;
    }
/*     .black-key {
        background-color: green;
    } */
    .black-key .nota, .black-key .cifra  {
        font-size: 11px;
        margin-bottom: 3px;
    }
    .compact-control-panel {
        top: 0;
        height: 90px;
        width: 540px;
    }
    /*? Caixas de som TRILHO PRETO: */
    .button-square {
        height: 25px;
        font-size: 10px;
    }
    .button-round {
        width: 35px;
        height: 35px;
    }
    /* Tela de Som Vasada: */
    .speaker-vasada {
        width: 190px;
        height: 65px;
    }
}
/* *********************************************************** */
/** LIMITE EXECUÇÃO EM LANDSCAPE - MODO PAISAGEM: 636px de teste no Iphone 7 Pequeno */
/* *********************************************************** */
